{{- $filePath := "" -}}
{{- with .File -}}
    {{- $filePath = print "/tree/main/content/" .Path -}}
{{- end -}}
<footer>
    <p>
        <a href='{{ relref page "/imprint#license" }}'
           title="CC0 1.0 Universal Public Domain Dedication">
           <i class="fa-brands fa-creative-commons-zero"></i>
        </a> {{ now.Format "2006" }} {{ site.Data.facts.name }}.
    </p>
    {{ if (or site.Menus.footer site.IsMultiLingual) }}
        <ul>
            {{ range site.Menus.footer }}
                <li>
                    {{- $url := .URL -}}
                    {{- if eq .Identifier "source" -}}
                        {{- $url = print (strings.TrimSuffix "/" $url) $filePath -}}
                    {{- end -}}
                    <a href="{{ $url }}" title="{{ .Name }}">{{ .Name }}</a>
                </li>
            {{ end }}
            {{ range site.Languages }}
                {{ if ne . site.Language }}
                    {{ range page.Translations }}
                        <li>
                            <a href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">{{ upper .Language }}</a>
                        </li>
                    {{ end }}
                {{ end }}
            {{ end }}
        </ul>
    {{ end }}
</footer>
