{{- $filePath := "" -}}
{{- with .File -}}
    {{- $filePath = print "/tree/main/content/" .Path -}}
{{- end -}}
<footer>
    <p>
        <a href='{{ relref $ "/imprint#license" }}'
           title="CC0 1.0 Universal Public Domain Dedication">
            {{- partial "icon/cc" "zero" -}}
        </a> {{ now.Format "2006" }} {{ $.Site.Data.facts.name }}.
    </p>
    {{ if (or $.Site.Menus.footer $.Site.IsMultiLingual) }}
        <ul>
            {{ range $.Site.Menus.footer }}
                <li>
                    {{- $url := .URL -}}
                    {{- if eq .Identifier "source" -}}
                        {{- $url = print (strings.TrimSuffix "/" $url) $filePath -}}
                    {{- end -}}
                    <a href="{{ $url }}" title="{{ .Name }}">{{ .Name }}</a>
                </li>
            {{ end }}
            {{ range $.Site.Languages }}
                {{ if ne . $.Site.Language }}
                    {{ range $.Translations }}
                        <li>
                            <a href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">{{ upper .Language }}</a>
                        </li>
                    {{ end }}
                {{ end }}
            {{ end }}
        </ul>
    {{ end }}
</footer>
