{{ if not $.IsHome }}
    <nav>
        <span>
            <a href='{{ relref $ "/" }}' title='{{ i18n "homepage" }}'>
                {{- partial "icon/fontawesome" "solid/arrow-left" -}}
            </a>
            <a href='{{ relref $ "/" }}' title='{{ i18n "homepage" }}'>
                {{- i18n "home" -}}
            </a>
        </span>
        <a href="#" onclick="window.print();return false;" id="print"
           title='{{ i18n "print" }}'>
            {{- partial "icon/fontawesome" "solid/print" -}}
        </a>
    </nav>
{{ end }}
