{{ if not page.IsHome }}
    <nav>
        <span>
            <a href='{{ relref page "/" }}' title='{{ i18n "homepage" }}'>
                <i class="fa-solid fa-arrow-left"></i>
            </a>
            <a href='{{ relref page "/" }}' title='{{ i18n "homepage" }}'>
                {{- i18n "home" -}}
            </a>
        </span>
        <a href="#" onclick="window.print();return false;" id="print"
           title='{{ i18n "print" }}'>
            <i class="fa-solid fa-print"></i>
        </a>
    </nav>
{{ end }}
