{{- $options := dict "transpiler" "dartsass" "outputStyle" "compressed"   -}}
{{- $style := resources.Get "/css/main.scss" | resources.ToCSS $options -}}
<link rel="stylesheet" href="{{ $style.Permalink }}">

{{/* Publish fonts. */}}
{{- $fontsPathPrefixes := collections.Slice "/node_modules/@fortawesome/fontawesome-free/webfonts/" "/node_modules/academicons/fonts/" -}}
{{- range $fontsPathPrefix := $fontsPathPrefixes -}}
  {{- $fonts := resources.Match (printf "%s/*" $fontsPathPrefix) -}}
  {{- range $fonts -}}
    {{- $name := .Name | strings.TrimPrefix $fontsPathPrefix | printf "/fonts/%s" -}}
    {{- with resources.Copy $name . -}}
      {{- .Publish -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
