@import "import/variables";
@import "import/palette";
@import "import/mixins";
@import "import/resets";
@import "import/typography";
@import "import/prism";

paper-button {
    @include typo-button;

    &[raised][filled] {
        background: $color-primary;
        color: $text-color-button;
    }
}

paper-item, paper-icon-item {
    @include typo-weight-medium;
}

paper-card {
    color: $text-color-card-primary;

    .card-content {
        h5 {
            margin-top: 8px;
            margin-bottom: 8px;
        }
        time, p {
            font-family: $font-body;
            color: $text-color-card-secondary;
        }
        time {
            display: block;
            margin-bottom: 8px;
            font-size: 15px;
        }
        p {
            font-size: 17px;
            line-height: 20px;
            margin-bottom: 0;
        }
    }
    .card-actions {
        padding-left: 8px !important;
        padding-right: 8px !important;
        paper-button {
            margin: 0;
        }
    }
}

/* Grid */
iron-grid {
    max-width: 1200px;
}

/* Layout */
app-drawer-layout {

    app-header-layout {

        app-header {
            background-color: $color-primary;

            #backgroundRearLayer, #backgroundFrontLayer {
                background: 0;
            }

            app-toolbar {
                color: $text-color-toolbar;
                box-sizing: border-box;

                [main-title] {
                    font-size: 22px;
                    padding-left: 8px;
                }

                paper-button {
                    @include typo-button;
                    min-width: 0;
                    font-size: 18px !important;
                }

                paper-icon-button {
                    position: relative;
                    top: -1px;

                    paper-ripple {
                        color: $text-color-toolbar !important;
                    }
                }
            }
        }
    }

    app-drawer {
        @include shadow-8dp;
        z-index: 8;

        .app-drawer {
            background: 0 !important;
            background: $background-drawer !important;
            color: $text-color-drawer !important;
        }

        paper-menu {
            color: inherit !important;
            background: 0 !important;

            paper-item, paper-icon-item {
                &:hover {
                    background: rgba($text-color-drawer, 0.12);
                    transition: background 0.3s ease;
                }
            }
        }

        app-toolbar {

            h1 {
                @include typo-title();
            }
        }

        hr {
            border-color: $divider-color-drawer;
        }

        .narrow {
            paper-button, paper-icon-button {
                display: none;
            }
        }
    }

    &.narrow app-header-layout app-header app-toolbar {
        paper-button, paper-icon-button:not([drawer-toggle]) {
            display: none;
        }
    }
    &:not(.narrow) app-drawer app-toolbar {
        display: none;
    }
}

.page-index {

    app-drawer-layout {

        app-header-layout {

            app-header {
                background: 0;

                #backgroundRearLayer {
                    background: $color-primary;
                }

                [main-title] {
                    transition: 0.3s opacity ease;
                }
                &:not([shadow]) [main-title] {
                    opacity: 0;
                }
            }

            .content {
                margin-top: -64px;

                iron-grid {
                    margin-top: 56px;
                    margin-bottom: 72px;
                }
            }
        }
    }
}

/* Cover */
.cover {
    position: relative;
    background: no-repeat local center center;
    background-size: cover;
    min-height: 800px;
    height: 100vh;
    box-shadow: inset 0 -8px 10px 1px rgba($color-black, .14), inset 0 -3px 14px 2px rgba($color-black, .12), inset 0 -5px 5px -3px rgba($color-black, .2);
    margin-bottom: 32px;
    text-align: center;

    .cover-inner {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%) translateY(-16px);
        color: $text-color-cover-primary;

        h1, paper-button {
            color: $text-color-cover-primary;
        }

        h1 {
            font-size: 72px;
            margin-bottom: 0;
        }

        p {
            @include typo-subhead;
            color: $text-color-cover-secondary;
            font-size: 22px;
            margin-bottom: 32px;
        }

        img {
            width: 240px;
        }
    }

    paper-icon-button {
        position: absolute;
        bottom: 16px;
        width: 96px;
        height: 96px;
        margin-left: -48px;
        color: $text-color-cover-secondary;
        transition: 0.3s color ease;

        &:hover {
            color: $text-color-cover-primary;
        }

        iron-icon {
            position: relative;
            top: 4px;
        }

        paper-ripple {
            color: $text-color-cover-primary !important;
        }
    }
}

/* Services section */
.services {
    section {
        text-align: center;

        p {
            @include typo-subhead;

            margin-top: 24px;
            margin-bottom: 16px;
            font-size: 18px;
        }

        iron-icon {
            width: 48px;
            height: 48px;
        }
    }
}

/* Work section */
.collection {
    padding: 8px 0;

    h2 {
        padding: 0 8px;

        &:after {
            content: "";
            display: block;
            width: 64px;
            margin-top: 12px;
            margin-bottom: 16px;
            border: 2px solid $text-color-primary;
        }
    }

    paper-card {
        align-self: flex-start;
    }

    .cta-cell {
        padding: 64px 16px;
        position: relative;
        text-align: center;

        p {
            @include typo-subhead;
        }
    }
}

/* Contact section */
#contact {
    width: 100%;
    margin-bottom: 72px;
    padding: 8px 0;

    iron-grid {
        padding: 8px;
    }

    h2 {
        padding: 0;

        &:after {
            content: "";
            display: block;
            width: 64px;
            margin-top: 12px;
            margin-bottom: 16px;
            border: 2px solid $text-color-primary;
        }
    }

    paper-input, paper-textarea {
        .input-content {
            .label-and-input-container label {
                color: $text-color-secondary;
            }
            &.label-is-highlighted .label-and-input-container label {
                color: $color-accent;
            }
            &.is-invalid .label-and-input-container label {
                color: $palette-red-A700;
            }
            &.label-is-floating .label-and-input-container label {
                color: $text-color-primary;
            }

            input, textarea {
                color: $text-color-primary;
            }
        }
        .underline {
            .unfocused-line {
                border-color: $divider-color;
            }
            .focused-line {
                border-color: $color-accent;
            }
            &.is-invalid .focused-line {
                border-color: $palette-red-A700;
            }
        }
    }

    paper-button {
        width: 100%;
        margin: 16px 0;
    }

    re-captcha {
        .rc-anchor {
            box-shadow: 0 !important;
            border: 0 !important;
        }
        .rc-anchor-dark {
            background: 0 !important;
            border: 0 !important;
        }
    }
}


/* Footer */
footer {
    margin-top: 48px;
    border-top: 1px solid $divider-color-footer;
    padding: 24px;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: $text-color-footer;
    background-color: $background-footer;

    a {
        color: $text-color-footer;
    }

    section {
        &.left, &.right {
            display: inline-block;
        }

        &.left {
            order: 0;
        }

        &.right {
            order: 1;
        }
    }
}

/* Small tablet */
@media screen and (max-width: 960px) {
    app-toolbar {
        height: 56px !important;
        padding-top: 2px !important;
    }
    .page-index app-drawer-layout app-header-layout .content {
        margin-top: -56px;
    }

    .cover {
        min-height: 700px;

        .cover-inner {
            h1 {
                font-size: 48px;
            }
            p {
                font-size: 20px;
            }
            img {
                width: 240px;
            }
        }
    }
}

/* Mobile */
@media screen and (max-width: 600px) {
    app-header app-toolbar {
        padding: 0 8px !important;
        padding-top: 2px !important;
    }

    .cover {
        min-height: 540px;

        .cover-inner {
            h1 {
                font-size: 44px;
            }
            p {
                font-size: 17px;
            }
            img {
                width: 144px;
            }
        }
    }
}