@import "import/variables";
@import "import/palette";
@import "import/mixins";
@import "import/resets";
@import "import/typography";
@import "import/prism";


/*
// 3
$header-font: "Poppins", "Roboto", "Helvetica", "Arial", sans-serif !default; // at 600, first title 500, card titles 400
$button-font: "Poppins", "Roboto", "Helvetica", "Arial", sans-serif !default; // at 600
$body-font: "Kreon", "Georgia", "Times New Roman", serif !default; //make fonts slightly thinner ~300

////////////

$font-family-body: "Buenard", "Georgia", "Times New Roman", serif !default; //make font slightly bigger ~16px
$font-family-body: "Cabin", "Roboto", "Helvetica", "Arial", sans-serif !default;

//////////////

$font-family-header: "Work Sans", "Roboto", "Helvetica", "Arial", sans-serif !default;

$font-family-button: "Anonymous Pro", "Roboto", "Helvetica", "Arial", monospace !default;
$font-family-button: "Roboto Mono", "Roboto", "Helvetica", "Arial", monospace !default;

//////////////////////////

// 1
$font-family-header: "Montserrat", "Roboto", "Helvetica", "Arial", sans-serif !default; // at 700, first title 400

// 2
$font-family-header: "Poppins", "Roboto", "Helvetica", "Arial", sans-serif !default; // at 600, first title 500, card titles 400
$font-family-button: "Poppins", "Roboto", "Helvetica", "Arial", sans-serif !default; // at 600
$font-family-body: "Slabo 27px", "Georgia", "Times New Roman", serif !default;
*/

paper-button {
    @include typo-button;

    &[raised][filled] {
        background: $color-primary;
        color: $text-color-primary-inverse;
    }
}

paper-item, paper-icon-item {
    @include typo-weight-medium;
}

/* Grid */
iron-grid {
    max-width: 1200px;
}

/* Layout */
app-drawer-layout {

    app-header-layout {

        app-header {
            background-color: $color-primary;

            #backgroundRearLayer, #backgroundFrontLayer {
                background: 0;
            }

            app-toolbar {
                color: $text-color-primary-inverse;
                box-sizing: border-box;

                [main-title] {
                    font-size: 22px;
                    padding-left: 8px;
                }

                paper-button {
                    @include typo-button;
                    min-width: 0;
                    font-size: 18px !important;
                }

                paper-icon-button {
                    position: relative;
                    top: -1px;

                    paper-ripple {
                        color: $text-color-primary-inverse !important;
                    }
                }
            }
        }
    }

    app-drawer {
        @include shadow-8dp;
        z-index: 8;

        .app-drawer {
            background: $drawer-background;
        }

        app-toolbar {

            h1 {
                @include typo-title();
            }
        }

        .narrow {
            paper-button, paper-icon-button {
                display: none;
            }
        }
    }

    &.narrow app-header-layout app-header app-toolbar {
        paper-button, paper-icon-button:not([drawer-toggle]) {
            display: none;
        }
    }
    &:not(.narrow) app-drawer app-toolbar {
        display: none;
    }
}

.page-index {

    app-drawer-layout {

        app-header-layout {

            app-header {
                background: 0;

                #backgroundRearLayer {
                    background: $color-primary;
                }

                [main-title] {
                    transition: 0.3s opacity ease;
                }
                &:not([shadow]) [main-title] {
                    opacity: 0;
                }
            }

            .content {
                margin-top: -64px;
            }
        }
    }
}

/* Cover */
.cover {
    position: relative;
    background: no-repeat local center center;
    background-size: cover;
    min-height: 800px;
    height: 100vh;
    box-shadow: inset 0 -8px 10px 1px rgba($color-black, .14), inset 0 -3px 14px 2px rgba($color-black, .12), inset 0 -5px 5px -3px rgba($color-black, .2);
    margin-bottom: 32px;
    text-align: center;

    .cover-inner {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%) translateY(-16px);
        color: $text-color-secondary-inverse;

        h1, paper-button {
            color: $text-color-primary-inverse;
        }

        h1 {
            font-size: 72px;
            margin-bottom: 0;
        }

        p {
            @include typo-subhead(true);
            font-size: 22px;
            margin-bottom: 32px;
        }

        img {
            width: 240px;
        }
    }

    paper-icon-button {
        position: absolute;
        bottom: 16px;
        width: 96px;
        height: 96px;
        margin-left: -48px;
        color: $text-color-secondary-inverse;
        transition: 0.3s color ease;

        &:hover {
            color: $text-color-primary-inverse;
        }

        iron-icon {
            position: relative;
            top: 4px;
        }

        paper-ripple {
            color: $text-color-primary-inverse !important;
        }
    }
}

/* Services section */
.services {
    section {
        text-align: center;

        iron-icon {
            width: 48px;
            height: 48px;
        }
    }
}

/* Work section */
.apps, .libraries {
    padding: 8px 0;

    h2 {
        padding: 0 8px;
    }

    paper-card {
        align-self: flex-start;

        .card-content {
            h5 {
                margin-top: 8px;
            }
            p {
                font-family: $body-font;
                font-size: 17px;
                margin-bottom: 0;
            }
        }
        .card-actions {
            padding-left: 8px;
            padding-right: 8px;
            paper-button {
                margin: 0;
            }
        }
    }

    .cta-cell {
        padding: 64px 16px;
        position: relative;
        text-align: center;

        p {
            @include typo-subhead;
        }
    }
}

/* Contact section */
.contact form {
    width: 100%;
    margin-bottom: 144px;
}

/* Footer */
footer {
    margin-top: 48px;
    border-top: 1px solid $divider-color;
    padding: 24px;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: $footer-color;
    background-color: $footer-background;

    a {
        color: $footer-color;
    }

    section {
        &.left, &.right {
            display: inline-block;
        }

        &.left {
            order: 0;
        }

        &.right {
            order: 1;
        }
    }
}

/* Small tablet */
@media screen and (max-width: 960px) {
    app-toolbar {
        height: 56px !important;
    }
    .page-index app-drawer-layout app-header-layout .content {
        margin-top: -56px;
    }

    .cover {
        min-height: 700px;

        .cover-inner {
            h1 {
                font-size: 48px;
            }
            p {
                font-size: 20px;
            }
            img {
                width: 240px;
            }
        }
    }
}

/* Mobile */
@media screen and (max-width: 600px) {
    app-toolbar {
        padding: 0 8px !important;
    }

    .cover {
        min-height: 540px;

        .cover-inner {
            h1 {
                font-size: 44px;
            }
            p {
                font-size: 17px;
            }
            img {
                width: 144px;
            }
        }
    }
}