@import "import/variables";
@import "import/palette";
@import "import/mixins";
@import "import/resets";
@import "import/typography";
@import "import/prism";


/*
// 3
$header-font: "Poppins", "Roboto", "Helvetica", "Arial", sans-serif !default; // at 600, first title 500, card titles 400
$button-font: "Poppins", "Roboto", "Helvetica", "Arial", sans-serif !default; // at 600
$body-font: "Kreon", "Georgia", "Times New Roman", serif !default; //make fonts slightly thinner ~300

////////////

$font-family-body: "Buenard", "Georgia", "Times New Roman", serif !default; //make font slightly bigger ~16px
$font-family-body: "Cabin", "Roboto", "Helvetica", "Arial", sans-serif !default;

//////////////

$font-family-header: "Work Sans", "Roboto", "Helvetica", "Arial", sans-serif !default;

$font-family-button: "Anonymous Pro", "Roboto", "Helvetica", "Arial", monospace !default;
$font-family-button: "Roboto Mono", "Roboto", "Helvetica", "Arial", monospace !default;

//////////////////////////

// 1
$font-family-header: "Montserrat", "Roboto", "Helvetica", "Arial", sans-serif !default; // at 700, first title 400

// 2
$font-family-header: "Poppins", "Roboto", "Helvetica", "Arial", sans-serif !default; // at 600, first title 500, card titles 400
$font-family-button: "Poppins", "Roboto", "Helvetica", "Arial", sans-serif !default; // at 600
$font-family-body: "Slabo 27px", "Georgia", "Times New Roman", serif !default;
*/

body {
    background: $palette-grey-50;
}

paper-button {
    @include typo-button;
}

/* Grid */
.app-grid {
    max-width: 1200px;
    width: calc(100% - 32px);
    margin: 0 auto;
}

/* Layout */
app-drawer-layout {

    app-header-layout {

        app-header {
            background-color: $color-primary;

            #backgroundRearLayer, #backgroundFrontLayer {
                background: 0;
            }

            app-toolbar {
                color: $text-color-primary-inverse;
                font-size: 18px;
                padding-top: 1px;
                box-sizing: border-box;

                [main-title] {
                    font-size: 22px;
                }

                paper-button {
                    @include typo-button;
                    min-width: 0;
                }

                paper-icon-button, paper-icon-button-light {
                    position: relative;
                    top: -1px;
                }
            }
        }

        .content {
            margin-top: -64px;
        }
    }

    app-drawer {
        @include shadow-8dp;
        z-index: 8;

        app-toolbar {

            h1 {
                @include typo-title();
            }
        }
    }
}

.page-index {

    app-drawer-layout {

        app-header-layout {

            app-header {
                background-color: rgba($color-primary, 0.12);

                #backgroundRearLayer {
                    background: $color-primary;
                }
            }
        }
    }
}

/* Cover */
.cover {
    position: relative;
    background: no-repeat local center center;
    background-size: cover;
    min-height: 600px;
    height: 100vh;
    box-shadow: inset 0 -8px 10px 1px rgba($color-black, .14),
    inset 0 -3px 14px 2px rgba($color-black, .12),
    inset 0 -5px 5px -3px rgba($color-black, .2);
    padding-top: 64px;
    margin-bottom: 32px;

    .cover-inner {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        color: $text-color-secondary;
        text-align: center;

        h1 {
            color: $text-color-primary;
        }
    }

    paper-icon-button, paper-icon-button-light {
        //TODO increase size
    }
}

/* Philosophy section */
.philosophy {
    > .philosophy-cell {
        text-align: center;
    }
}

/* Work section */
.apps, .libraries {
    > .mdl-card {
        min-height: 24px;
        align-self: flex-start;
        > .mdl-card__media > img {
            width: 100%;
        }
        > .mdl-card__title {
            padding-bottom: 0;
            > .mdl-card__title-text {
                font-size: 25px;
                font-weight: 400;
                line-height: 1.25;
            }
        }
        > .mdl-card__supporting-text {
            font-size: 17px;
            line-height: 1.5;
        }
    }
    > .cta-cell {
        position: relative;
        text-transform: none;
        text-align: center;
        &:before {
            content: "";
            display: block;
            padding-top: 100%; /* Aspect ratio: 1:1*/
        }
        > div {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            > div {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
            }
        }
        &.logo-cell > div > div {
            padding-bottom: 48px;
        }
    }
}

/* Skills section */
.skills > .skills-cell > .skills-bar {
    width: 100%;
    height: 5px;
    > div {
        height: 100%;
    }
}

/* Contact section */
.contact form {
    width: 100%;
    margin-bottom: 144px;
}

/* Blog */
.mdl-layout__content > .posts, .mdl-layout__content > .post {
    max-width: 1200px;
    width: calc(100% - 32px);
    margin: 0 auto;
}

.posts .post {
    margin: 8px;
    .meta a {
        //color: $text-color-primary;
    }
}

.post {
    > header p, > header a {
        //color: $text-color-primary;
        font-weight: 400;
    }
    > section img {
        display: block;
        max-width: 100%;
        max-height: 600px;
        margin: 8px auto;
        border-radius: 4px;
    }
}

img.author-thumb {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.read-next section {
    text-align: center;
}

nav.pagination {
    color: rgba($color-black, 0.87);
    min-height: 0;
    text-align: center;
    > span {
        display: inline-block;
        margin-top: 12px;
    }
    > a {
        color: rgba($color-black, 0.87);
        text-decoration: none;
        width: 160px;
        &.pagination-older {
            float: left;
            text-align: left;
            margin-right: -160px;
        }
        &.pagination-newer {
            float: right;
            text-align: right;
            margin-left: -160px;
        }
        .mdl-button {
            color: rgba($color-black, 0.54);
            background-color: $palette-grey-300;
            margin: 8px;
        }
    }
}

/* Footer */
.mdl-mini-footer {
    border-top: 1px solid rgba($footer-color, 0.2);
    padding: 16px;
    text-align: center;
    a {
        color: $footer-color;
    }
}

/* Desktop */
@media screen and (min-width: 1025px) {
    .mdl-layout__drawer-button {
        display: none;
    }
    .mdl-layout__header-row {
        padding: 0 0 0 24px;
    }
}

/* Small tablet */
@media screen and (max-width: 840px) {
    .cover > .cover-inner {
        > h1 {
            font-size: 48px;
        }
        > .mdl-typography--headline {
            font-size: 22px;
        }
        > img {
            width: 30%;
        }
    }

    .read-next section h3 {
        font-size: 28px;
        line-height: 34px;
    }
}

/* Mobile */
@media screen and (max-width: 480px) {
    .cover > .cover-inner {
        > h1 {
            font-size: 44px;
        }
        > .mdl-typography--headline {
            font-size: 18px;
        }
        > img {
            width: 40%;
        }
    }

    .post > header p {
        font-size: 18px;
        line-height: 24px;
    }
}