version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/assets/"
    schedule:
      interval: "monthly"
      day: "monday"
      time: "09:00"
      timezone: "Europe/Berlin"
    open-pull-requests-limit: 10
    assignees:
      - "heinrichreimer"
    reviewers:
      - "heinrichreimer"
    ignore:
      - update-types:
        - "version-update:semver-patch"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "monday"
      time: "09:00"
      timezone: "Europe/Berlin"
    open-pull-requests-limit: 10
    assignees:
      - "heinrichreimer"
    reviewers:
      - "heinrichreimer"
    ignore:
      - update-types:
        - "version-update:semver-minor"
        - "version-update:semver-patch"
