RewriteEngine On

# This symlink is needed to check domain authentication
RewriteRule ^.well-known/(.*)$ .well-known/$1 [L]

# Redirect all HTTP requests to HTTPS
RewriteCond %{HTTPS} !=on
RewriteCond %{ENV:HTTPS} !=on
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

## Proxies

# Proxy all requests starting with "api/" to the new API at port 63542
RewriteRule ^api/(.*)$ http://localhost:63542/api/$1 [P]

## Rewrites
# For some reason minifying polymer components breaks their styling. Threrefore folloeing two lines are commented-out.
#RewriteCond %{REQUEST_URI} !\.min\.html$
#RewriteRule ^(bower_components/(.*))\.html$ /$1.min.html

## Compression
AddOutputFilterByType DEFLATE text/html text/plain text/xml image/svg+xml text/css application/javascript text/javascript application/json

## Cache
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 30 seconds"

  ExpiresByType image/gif "access plus 1 month"
  ExpiresByType image/jpg "access plus 1 month"
  ExpiresByType image/jpeg "access plus 1 month"
  ExpiresByType image/png "access plus 1 month"
  ExpiresByType image/svg+xml "access plus 1 month"

  ExpiresByType text/css "access plus 12 hours"
  ExpiresByType text/javascript "access plus 7 days"
  ExpiresByType application/x-javascript "access plus 7 days"
</IfModule>