---
layout: default
title: Heinrich Reimer
permalink: /
---

<div class="cover" id="home" style="background-image: url('{{ site.data.cover.image }}')">
    <div class="cover-inner">
        <img src="{{ site.data.cover.logo }}">
        <h1>{{ site.data.cover.title }}</h1>
        <h4>{{ site.data.cover.subtitle }}</h4>
        <a href="{{ site.data.cover.button.link }}" tabindex="-1">
            <paper-button raised filled>{{ site.data.cover.button.title }}</paper-button>
        </a>
    </div>
    <a href="#services">
        <paper-icon-button icon="hardware:keyboard-arrow-down"></paper-icon-button>
    </a>
</div>

<iron-grid class="services" id="services">
    {% for service in site.services %}
    <section class="s12 m6 l4 xl4">
        <iron-icon icon="{{ service.icon }}"></iron-icon>
        <h3>{{ service.title }}</h3>
        <h6>{{ service.description }}</h6>
    </section>
    {% endfor %}
</iron-grid>

<hr>

<iron-grid class="apps" id="apps">

    <h2 class="s12">{{ site.data.apps.title }}</h2>

    {% for app in site.apps reversed %}
    <paper-card class="s12 m6 l4 xl4" image="{{ app.image }}" elevation="2">
        <div class="card-content">
            <h5>{{ app.title }}</h5>
            <p class="description">{{ app.description }}</p>
        </div>
        <div class="card-actions">
            <div class="horizontal justified">
                <a href="{{ app.link }}" target="_blank" tabindex="-1">
                    <paper-button>{{ site.data.apps.button }}</paper-button>
                </a>
            </div>
        </div>
    </paper-card>
    {% endfor %}

    <div class="s12 m6 l4 xl4 cta-cell">
        <h3>{{ site.data.apps.cta.title }}</h3>
        <p>{{ site.data.apps.cta.description }}</p>
        <a href="{{ site.data.apps.cta.link }}" tabindex="-1">
            <paper-button raised filled>{{ site.data.apps.cta.button }}</paper-button>
        </a>
    </div>

</iron-grid>

<hr>

<iron-grid class="libraries" id="libraries">

    <h2 class="s12">{{ site.data.libraries.title }}</h2>

    {% for library in site.libraries reversed %}
    <paper-card class="s12 m6 l4 xl4" image="{{ library.image }}" elevation="2">
        <div class="card-content">
            <h5>{{ library.title }}</h5>
            <p class="description">{{ library.description }}</p>
        </div>
        <div class="card-actions">
            <div class="horizontal justified">
                <a href="{{ library.link }}" target="_blank" tabindex="-1">
                    <paper-button>{{ site.data.libraries.button }}</paper-button>
                </a>
            </div>
        </div>
    </paper-card>
    {% endfor %}

    <div class="s12 m6 l4 xl4 cta-cell">
        <h3>{{ site.data.libraries.cta.title }}</h3>
        <p>{{ site.data.libraries.cta.description }}</p>
        <a href="{{ site.data.libraries.cta.link }}" tabindex="-1">
            <paper-button raised filled>{{ site.data.libraries.cta.button }}</paper-button>
        </a>
    </div>

</iron-grid>
