---
layout: default
title: Heinrich Reimer
description: Android development with love.
---

<div class="cover" id="home" style="background-image: url('{{ site.cover.image }}')">
    <div class="cover-inner">
        <h1 class="mdl-typography--display-4">{{ site.cover.title }}</h1>
        <p class="mdl-typography--headline">{{ site.cover.subtitle }}</p>
        <p><a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
              href="{{ site.cover.button.link }}">{{ site.cover.button.title }}</a></p>
        <a class="mdl-button mdl-js-button mdl-button--icon" href="#philosophy">
            <i class="material-icons">keyboard_arrow_down</i>
        </a>
    </div>
</div>

<div class="mdl-grid philosophy" id="philosophy">
    {% for philosophy in site.philosophy.items %}
        <div class="mdl-cell mdl-cell--4-col philosophy-cell">
            <h2><i class="material-icons">{{ philosophy.icon }}</i></h2>
            <h3>{{ philosophy.title }}</h3>
            <p class="mdl-typography--subhead">{{ philosophy.description }}</p>
        </div>
    {% endfor %}
</div>

<hr>

<div class="mdl-grid apps" id="apps">
    <h2 class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">{{ site.apps.title }}</h2>
    {% for app in site.apps.items %}
    <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
        <div class="mdl-card__media">
            <img src="{{ app.image }}">
        </div>
        <div class="mdl-card__title"><h5 class="mdl-card__title-text">{{ app.name }}</h5></div>
        <div class="mdl-card__supporting-text">{{ app.description }}</div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
               href="{{ app.link }}" target="_blank">{{ site.apps.button }}</a>
        </div>
    </div>
    {% endfor %}
    <div class="mdl-cell mdl-cell--4-col app-cell cta-cell">
        <div>
            <div>
                <h3>{{ site.apps.cta.title }}</h3>
                <p class="mdl-typography--subhead">{{ site.apps.cta.description }}</p>
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                   href="{{ site.apps.cta.link }}">{{ site.apps.cta.button }}</a>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="mdl-grid libraries" id="libraries">
    <h2 class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">{{ site.libraries.title }}</h2>
    {% for library in site.libraries.items %}
    <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
        <div class="mdl-card__media">
            <img src="{{ library.image }}">
        </div>
        <div class="mdl-card__title"><h5 class="mdl-card__title-text">{{ library.name }}</h5></div>
        <div class="mdl-card__supporting-text">{{ library.description }}</div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
               href="{{ library.link }}" target="_blank">{{ site.libraries.button }}</a>
        </div>
    </div>
    {% endfor %}
    <div class="mdl-cell mdl-cell--4-col app-cell cta-cell">
        <div>
            <div>
                <h3>{{ site.libraries.cta.title }}</h3>
                <p class="mdl-typography--subhead">{{ site.libraries.cta.description }}</p>
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                   href="{{ site.libraries.cta.link }}">{{ site.libraries.cta.button }}</a>
            </div>
        </div>
    </div>
</div>