---
layout: default
title: Heinrich Reimer
permalink: /
---

{% include cover.html %}

<iron-grid class="services" id="services">
    {% assign services = site.services | sort:"order" %}
    {% for service in services %}
    <section class="xs12 s6 m4">
        <iron-icon icon="{{ service.icon }}"></iron-icon>
        <h3>{{ service.title }}</h3>
        {{ service.content }}
    </section>
    {% endfor %}
</iron-grid>

<hr>

{% include collection.html info=site.data.apps items= site.apps %}

<hr>

{% include collection.html info=site.data.websites items= site.websites %}

<hr>

{% include collection.html info=site.data.libraries items= site.libraries %}
