<!-- Title -->
{% capture title %}{% if page.title %}{{ page.title }} -{% endif %}{{ site.title }}{% endcapture %}
{% assign title = title | strip_html | strip_newlines %}
<title>{{ title }}</title>

<!-- Web app title -->
<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
<meta name="application-name" content="{{ site.title }}">

<!-- Description -->
{% capture description %}
{% if page.excerpt %}
{{ page.excerpt }}
{% else %}
{{ site.description }}
{% endif %}
{% endcapture %}
{% assign description = description | strip_html | strip_newlines | truncate: 140 %}
<meta name="description" content="{{ description }}">
<meta itemprop="description" content="{{ description }}">

<!-- Keywords -->
{% capture keywords %}
{% if page.excerpt %}
{{ page.tags | join: ', ' }},
{% endif %}
{{ site.keywords | join: ', ' }}
{% endcapture %}
{% assign keywords = keywords | strip_html | strip_newlines %}
<meta name="keywords" content="{{ keywords }}">

<!-- Author -->
<meta name="author" content="{{ site.author.name }}">

<!-- Sharing meta data -->
{% capture baseurl %}{{ site.url }}{{ site.baseurl }}{{ page.url | replace:'index.html','' }}{% endcapture %}
<link rel="canonical" href="{{ baseurl }}">

<!-- Facebook sharing meta data -->
{% if page.image.facebook %}
{% assign image_facebook = page.image.facebook %}
{% elsif page.image.default %}
{% assign image_facebook = page.image.default %}
{% elsif site.image.facebook %}
{% assign image_facebook = site.image.facebook %}
{% else %}
{% assign image_facebook = site.image.default %}
{% endif %}
<meta property="og:type" content="website">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:url" content="{{ baseurl }}">
<meta property="og:image" content="{{ image_facebook }}">
<meta property="og:image:url" content="{{ image_facebook }}">

<!-- G+ sharing meta data -->
{% if page.image.google_plus %}
{% assign image_google_plus = page.image.google_plus %}
{% elsif page.image.default %}
{% assign image_google_plus = page.image.default %}
{% elsif site.image.google_plus %}
{% assign image_google_plus = site.image.google_plus %}
{% else %}
{% assign image_google_plus = site.image.default %}
{% endif %}
{% capture slogan %}{{ site.title }} - {{ description }}{% endcapture %}
{% assign slogan = slogan | strip_html | strip_newlines %}
<meta itemprop="name" content="{{ slogan }}">
<link rel="publisher" href="https://plus.google.com/u/0/+{{ site.author.google_plus }}">
<meta itemprop="image" content="{{ image_google_plus }}">

<!-- Twitter sharing meta data -->
{% if page.image.twitter %}
{% assign image_twitter = page.image.twitter %}
{% elsif page.image.default %}
{% assign image_twitter = page.image.default %}
{% elsif site.image.twitter %}
{% assign image_twitter = site.image.twitter %}
{% else %}
{% assign image_twitter = site.image.default %}
{% endif %}
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:domain" content="{{ baseurl }}">
<meta name="twitter:site" content="@{{ site.author.twitter }}">
<meta name="twitter:creator" content="@{{ site.author.twitter }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:src" content="{{ image_twitter }}">

<!-- Schema.org -->
{% if page.image.default %}
{% assign image_schema_org = page.image.default %}
{% else %}
{% assign image_schema_org = site.image.default %}
{% endif %}
{% if image_schema_org %}
{% unless image_schema_org contains '://' %}
{% assign image_schema_org = image_schema_org | prepend: baseurl %}
{% endunless %}
{% assign image_schema_org = image_schema_org | replace: '.com//', '.com/' | replace: '.io//', '.io/' %}
{% endif %}

{% if page.image.logo %}
{% assign logo_schema_org = page.image.logo %}
{% else %}
{% assign logo_schema_org = site.image.logo %}
{% endif %}
{% if logo_schema_org %}
{% unless logo_schema_org contains '://' %}
{% assign logo_schema_org = logo_schema_org | prepend: baseurl %}
{% endunless %}
{% assign logo_schema_org = logo_schema_org | replace: '.com//', '.com/' | replace: '.io//', '.io/' %}
{% endif %}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "{{ site.author.name }}",
    "headline": "{{ title }}",
    "image": "{{ image_schema_org }}",
    "description": "{{ description }}",
    "publisher": {
        "@type": "Organization",
        "logo": {
            "@type": "ImageObject",
            "url": "{{ logo_schema_org }}"
        }
    },
    "sameAs": [
        {% for link in site.author.links %}"{{ link }}"{% unless forloop.last %},{% endunless %}{% endfor %}
    ],
    "url": "{{ baseurl }}"
}
</script>