$color: #000000;
$color-active: #00236e;
$color-marker: #fff4ab;
$background: #FFFFFF;
$title-size: 0.08;
$description-size: 0.04;
$max-width: 55em;
$font-awesome-scale: 1;
$font-awesome-size: 1em * $font-awesome-scale;

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap");
@import "../node_modules/normalize-scss/sass/normalize";
@import "code";

body {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 1em 1em 0;
    box-sizing: border-box;

    color: $color;
    background: $background;
    font-family: "Space Mono", monospace;

    a {
        color: $color-active;
        text-decoration: none;

        &:visited {
            color: desaturate($color-active, 30%);
        }

        &:hover, &:active {
            color: lighten(desaturate($color-active, 40%), 20%);
            text-decoration-style: dashed;
        }

        @media print {
            text-decoration: none;
            color: $color;

            &:visited, &:hover, &:active {
                color: $color;
            }
        }
    }

    mark {
        background: $color-marker;
        border-radius: 0.5ex;
    }

    .icon-font {
        display: inline-block;
        > svg {
            display: inline-block;
            width: $font-awesome-size;
            height: $font-awesome-size;
        }
    }

    nav {
        display: flex;
        justify-content: space-between;

        @media print {
            display: none;
        }
    }

    main {
        flex: 1 0;
        max-width: $max-width;

        article {
            width: 100%;
        }

        pre, blockquote, section, figure {
            break-inside: avoid;
        }

        * {
            > span.spoiler {
                filter: blur(0.25rem);
                opacity: 0.25;
                transition: 0.1s filter ease-in, 0.1s opacity ease-in;

                &:hover, &:focus, &:active {
                    transition-duration: 0.75s, 0.1s;
                    filter: inherit;
                }
            }

            &:hover, &:focus, &:active {
                > span.spoiler {
                    visibility: visible;
                    opacity: inherit;
                }
            }
        }

        figure {
            margin: 1em 0;

            &.profile {
                text-align: center;

                img {
                    width: 25vmin;
                    height: 25vmin;
                    border: 2pt solid black;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            table {
                display: inline-block;
                border-top: 1.5pt solid black;
                border-bottom: 1.5pt solid black;
                border-spacing: 0.75em 0.75ex;

                thead {
                    border-bottom: 1pt solid black;
                }

                th, td {
                    text-align: initial;
                    vertical-align: top;

                    &[align=left] {
                        text-align: left;
                    }

                    &[align=right] {
                        text-align: right;
                    }

                    &[align=center] {
                        text-align: center;
                    }
                }
            }

            &.timeline td:first-of-type {
                min-width: 10.5em;
            }
        }
    }

    &.home {
        main {
            display: flex;
            align-items: center;
            text-align: center;
            max-width: none;

            h1 {
                font-size: 100vw * $title-size;

                @media (min-width: $max-width) {
                    font-size: $max-width * $title-size;
                }
            }

            p:nth-of-type(1), p:nth-of-type(2) {
                font-size: 100vw * $description-size;

                @media (min-width: $max-width) {
                    font-size: $max-width * $description-size;
                }
            }
        }
    }

    &.page-curriculum-vitae {

        .icon-font {

            @media print {
                display: none;
            }
        }

        figure {

            &.profile {
                @media print, (min-width: 0.95 * $max-width) {
                    float: right;
                    margin: 0 0.05 * $max-width;
                }
            }

            table {
                max-width: 0.95 * $max-width;

                th, td {

                    &:first-child {
                        font-style: italic;
                    }
                }
            }
        }
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-top: 2pt solid $color;
        padding-bottom: 1em;

        @media print {
            display: none;
        }

        ul, p {
            margin-bottom: 0;
        }

        ul {
            list-style: none;
            padding: 0;

            > li {
                display: inline;

                &:before {
                    display: inline;
                    content: " • ";
                }

                &:first-of-type:before {
                    display: none;
                }
            }
        }
    }
}
