$text-color: #000000;
$text-color-active: #00236e;
$background-color-marker: transparentize(#fff4ab, 0.6);
$background-color: #FFFFFF;
$body-max-width: 1000px;
$breakpoint-width-mobile: 800px;
$breakpoint-width-font-scaling: 1500px;
$font-family-body: "IBM Plex Sans";
$font-family-head: "Space Mono";
$font-size: 14pt;
$font-size-icon: 1em;

@import "functions";
@import url("https://fonts.googleapis.com/css2?family=#{str-replace($font-family-body, " ", "+")}:ital,wght@0,400;0,700;1,400&family=#{str-replace($font-family-head, " ", "+")}:ital,wght@0,400;0,700;1,400&display=swap");
@import "../node_modules/normalize-scss/sass/normalize";
@import "code";

body {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: $body-max-width;
    height: 100vh;
    margin: 0 auto;
    padding: 1em 1em 0;
    box-sizing: border-box;

    color: $text-color;
    background: $background-color;
    font-family: $font-family-body, sans-serif;
    font-size: $font-size;

    h1, h2, h3, h4, h5, h6 {
        font-family: $font-family-head, monospace;
    }

    a {
        color: $text-color-active;
        text-decoration: none;

        &:visited {
            color: desaturate($text-color-active, 30%);
        }

        &:hover, &:active {
            color: lighten(desaturate($text-color-active, 40%), 20%);
            text-decoration-style: dashed;
        }

        @media print {
            text-decoration: none;
            color: $text-color;

            &:visited, &:hover, &:active {
                color: $text-color;
            }
        }
    }

    mark {
        background: $background-color-marker;
        border-radius: 0.5ex;

        @media print {
            background: none;
            border-radius: 0;
        }
    }

    .publications-table {
        details.bibtex-snippet {
            summary {
                display: none;
            }
        }
    }

    .icon-font {
        display: inline-block;
        > svg {
            display: inline-block;
            margin-bottom: -0.15em;
            width: $font-size-icon;
            height: $font-size-icon;
        }
    }

    nav {
        display: flex;
        justify-content: space-between;
        font-family: $font-family-head, monospace;
        font-weight: bold;

        @media print {
            display: none;
        }
    }

    main {
        flex: 1 0;
        hyphens: auto;

        article {
            width: 100%;
        }

        pre, blockquote, section, figure {
            break-inside: avoid;
        }

        * {
            > span.spoiler {
                filter: blur(0.25rem);
                opacity: 0.25;
                transition: 0.1s filter ease-in, 0.1s opacity ease-in;

                &:hover, &:focus, &:active {
                    transition-duration: 0.75s, 0.1s;
                    filter: inherit;
                }
            }

            &:hover, &:focus, &:active {
                > span.spoiler {
                    visibility: visible;
                    opacity: inherit;
                }
            }
        }

        figure {
            margin: 1em 0;

            &.profile {
                text-align: center;

                img {
                    width: 25vmin;
                    height: 25vmin;
                    border: 2pt solid black;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            table {
                border-top: 1.5pt solid black;
                border-bottom: 1.5pt solid black;
                border-spacing: 0.75em 0.75ex;
                max-width: 100%;

                @media (max-width: $breakpoint-width-mobile) {
                    width: 100%;
                }

                tr {
                    @media (max-width: $breakpoint-width-mobile) {
                        border-bottom: 0.5pt solid black;
                    }
                }

                th, td {
                    text-align: initial;
                    vertical-align: top;

                    &[align=left] {
                        text-align: left;
                    }

                    &[align=right] {
                        text-align: right;
                    }

                    &[align=center] {
                        text-align: center;
                    }

                    &.actions {
                        min-width: max-content;
                    }

                    @media (max-width: $breakpoint-width-mobile) {
                        display: block;
                        width: 100%;
                        text-align: left;
                    }
                }

                th {
                    min-width: max-content;
                }

                thead {
                    border-bottom: 1pt solid black;
                }

                tbody th {
                    font-weight: normal;
                    font-style: italic;
                }
            }
        }
    }

    &.home {
        main {
            display: flex;
            align-items: center;
            text-align: center;
            max-width: none;

            h1 {
                font-size: calc($font-size * 2 * 100vw / $body-max-width);

                @media (max-width: $body-max-width) {
                    font-size: $font-size * 2;
                }

                @media (min-width: $breakpoint-width-font-scaling) {
                    font-size: calc($font-size * 2 * $breakpoint-width-font-scaling / $body-max-width);
                }
            }

            p:nth-of-type(1), p:nth-of-type(2) {
                font-size: calc($font-size * 100vw / $body-max-width);

                @media (max-width: $body-max-width) {
                    font-size: $font-size;
                }

                @media (min-width: $breakpoint-width-font-scaling) {
                    font-size: calc($font-size * $breakpoint-width-font-scaling / $body-max-width);
                }
            }
        }
    }

    &.page-curriculum-vitae, &.page-lebenslauf {

        .icon-font {
            @media print {
                display: none;
            }
        }

        figure {

            &.profile {
                @media print, (min-width: $breakpoint-width-mobile) {
                    float: right;
                    margin: 0 0.05 * $breakpoint-width-mobile;
                }
            }
        }

        section{
            &:nth-of-type(n+2){
                figure {
                    table {
                        width: 100%;
                    }
                }
            }
        }
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-top: 2pt solid $text-color;
        padding-bottom: 1em;

        @media print {
            display: none;
        }

        ul, p {
            margin-bottom: 0;
        }

        ul {
            list-style: none;
            padding: 0;

            > li {
                display: inline;

                &:before {
                    display: inline;
                    content: " • ";
                }

                &:first-of-type:before {
                    display: none;
                }
            }
        }
    }
}
