$color: #000000;
$color-active: #052561;
$background: #FFFFFF;
$title-size: 0.07;
$description-size: 0.05;
$max-width: 55em;

@import "../node_modules/normalize-scss/sass/normalize";

body {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 1em 1em 0;
    box-sizing: border-box;

    color: $color;
    background: $background;
    font-family: "Space Mono", monospace;

    a {
        color: $color-active;

        &:visited {
            color: desaturate($color-active, 30%);
        }

        &:hover, &:active {
            color: lighten(desaturate($color-active, 40%), 20%);
            text-decoration-style: dashed;
        }
    }

    .icon-font {
        $font-awesome-scale: 0.75;
        $font-awesome-size: 1em * $font-awesome-scale;

        > svg {
            width: $font-awesome-size;
            height: $font-awesome-size;
        }
    }

    main {
        flex: 1 0;
        max-width: $max-width;

        article {
            width: 100%;
        }

        figure {
            margin: 1em;

            table {
                display: inline-block;
                border-top: 1.5pt solid black;
                border-bottom: 1.5pt solid black;
                border-spacing: 1em 0.75ex;

                thead {
                    border-bottom: 1pt solid black;
                }

                th, td {
                    text-align: initial;
                    vertical-align: top;

                    &[align=left] {
                        text-align: left;
                    }

                    &[align=right] {
                        text-align: right;
                    }

                    &[align=center] {
                        text-align: center;
                    }
                }
            }
        }
    }

    &.home {
        main {
            display: flex;
            align-items: center;
            text-align: center;
            max-width: none;

            h1 {
                font-size: 100vw * $title-size;

                @media (min-width: $max-width) {
                    font-size: $max-width * $title-size;
                }
            }

            p {
                font-size: 100vw * $description-size;

                @media (min-width: $max-width) {
                    font-size: $max-width * $description-size;
                }
            }
        }
    }

    &.page-curriculum-vitae {

        figure {

            &.profile {
                text-align: center;

                img {
                    width: 30vmin;
                    height: 30vmin;
                    border: 2pt solid black;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            table {

                th, td {

                    &:first-child {
                        font-style: italic;
                    }
                }
            }
        }
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-top: 2pt solid $color;
        margin-bottom: 1em;

        ul, p {
            margin-bottom: 0;
        }

        ul {
            list-style: none;
            padding: 0;

            > li {
                display: inline;

                &:before {
                    display: inline;
                    content: " • ";
                }

                &:first-of-type:before {
                    display: none;
                }
            }
        }
    }
}
