{{- $username := . -}}
{{- if not $username -}}
    {{ errorf "Input must be a GitHub username: %s" .Position }}
{{- end -}}

{{- $githubApiUrl := "https://api.github.com/" -}}
{{- $githubHeaders := dict "Accept" "application/vnd.github.v3+json" -}}

{{- $userData := getJSON $githubApiUrl "users/" $username $githubHeaders -}}
{{- $ownedReposData := getJSON $userData.repos_url "?per_page=100&type=owner" (dict "Accept" "application/vnd.github.v3+json") -}}
{{- $memberReposData := getJSON $userData.repos_url "?per_page=100&type=member" (dict "Accept" "application/vnd.github.v3+json") -}}
{{- $reposData := append $ownedReposData $memberReposData -}}

{{- $stars := 0 -}}

{{- range $reposData -}}
{{- $stars = add $stars .stargazers_count -}}
{{- end -}}

{{- $stars -}}
