<footer>
    <section>
        <p>
            <a href='{{ relref . "/imprint" }}#cc0'
               title="CC0 1.0 Universal (CC0 1.0) Public Domain Dedication">
                {{- partial "cc-icon.html" "zero" -}}
            </a> {{ now.Format "2006" }} {{ .Site.Title }}.
        </p>
    </section>
    {{ if .Site.Menus.footer }}
    <section>
        <ul>
            {{ range .Site.Menus.footer }}
            <li>
                <a href="{{ .URL }}" title="{{ .Name }}">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
    </section>
    {{ end }}
</footer>
