{{ define "main" }}
    <article id="404">
        <h1>{{- i18n "pageNotFound" -}}</h1>
        <p>
            {{- i18n "pageNotFoundDescription" -}}
        </p>
        <p>
            {{- i18n "pageNotFoundAction" . -}}
        </p>
        <p>
            <a href='{{ relref page "/" }}' title='{{ i18n "homepage" }}'>{{ i18n "homepage" }}</a>
            •
            <a href='{{ relref page "/imprint" }}' title='{{ i18n "contact" }}'>{{ i18n "contact" }}</a>
        </p>
    </article>
{{ end }}
