<If "%{HTTPS} != 'on' || %{HTTP_HOST} != 'heinrichreimer.eu'">
    Redirect / https://heinrichreimer.eu/
</If>

ErrorDocument 404 /404.html

<If "%{REQUEST_URI} =~ /de\x2F.*/">
    ErrorDocument 404 /de/404.html
</If>