<If "%{HTTPS} != 'on' || %{HTTP_HOST} != 'heinrich.merker.id'">
    Redirect / https://heinrich.merker.id/
</If>

ErrorDocument 404 /404.html

<If "%{REQUEST_URI} =~ /de\x2F.*/">
    ErrorDocument 404 /de/404.html
</If>