{{- if not (reflect.IsMap .) -}}
    {{ errorf "Input must be a map: %s" .Position }}
{{- end -}}

{{- $orcid := .orcid -}}
{{- $dois := .dois -}}
{{- $author := .author -}}
{{- $mail := .mail -}}
{{- if and (not $orcid) (not $dois) -}}
    {{ errorf "Must specify either 'orcid' or 'dois': %s" .Position }}
{{- end -}}

{{- $crossrefApiUrl := "https://api.crossref.org/v1/" -}}
{{- $crossrefUserAgent := "" -}}
{{- with $author -}}{{- $crossrefUserAgent = print $crossrefUserAgent $author -}}{{- end -}}
{{- with $mail -}}{{- $crossrefUserAgent = print $crossrefUserAgent "; mailto:" $mail -}}{{- end -}}
{{- $crossrefHeaders := dict "Accept" "application/json" "User-Agent" $crossrefUserAgent -}}

{{- $orcidApiUrl := "https://pub.orcid.org/v3.0/" -}}
{{- $orcidHeaders := dict "Accept" "application/json" -}}

{{/* Initialize DOIs if none were given. */}}
{{- if not $dois -}}
    {{- $dois = slice -}}
{{- end -}}

{{/* Fetch DOIs for all works from ORCiD. */}}
{{- if $orcid -}}
    {{- $orcidWorks := getJSON $orcidApiUrl $orcid "/works/" $orcidHeaders -}}
    {{- with $orcidWorks -}}
        {{- range .group -}}
            {{- $workSummary := index (index . "work-summary") 0 -}}
            {{- $externalIds := index (index $workSummary "external-ids") "external-id" -}}
            {{- $doi := index (where $externalIds "external-id-type" "doi") 0 -}}
            {{- with $doi -}}
                {{- with index . "external-id-value" -}}
                    {{- $dois = $dois | append . -}}
                {{- end -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{/* Fetch Crossref works from DOIs. */}}
{{- $crossrefWorks := slice -}}
{{- range $dois -}}
    {{- $work := getJSON $crossrefApiUrl "works/" . $crossrefHeaders -}}
    {{- with $work -}}
        {{- if .status -}}
            {{- if eq .status "ok" -}}
                {{- with .message -}}
                    {{- $message := . -}}
                    {{- $year := 0 -}}
                    {{- $month := 0 -}}
                    {{- $day := 0 -}}
                    {{- with .published -}}
                        {{- $published := index (index . "date-parts") 0 -}}
                        {{- $year = index $published 0 | int | default 0 -}}
                        {{- $month = index $published 1 | int | default 0 -}}
                        {{- $day = index $published 2 | int | default 0 -}}
                    {{- end -}}
                    {{- with .event -}}
                        {{- with .start -}}
                            {{- $published := index (index . "date-parts") 0 -}}
                            {{- $year = index $published 0 | int | default 0 -}}
                            {{- $month = index $published 1 | int | default 0 -}}
                            {{- $day = index $published 2 | int | default 0 -}}
                        {{- end -}}
                    {{- end -}}
                    {{- $date := dict "year" $year "month" $month "day" $day -}}
                    {{- $message = merge $message $date -}}
                    {{- $crossrefWorks = $crossrefWorks | append $message -}}
                {{- end -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{/* Sort works by latest publication date. */}}
{{- $crossrefWorks = sort $crossrefWorks "publishedDay" "desc" -}}
{{- $crossrefWorks = sort $crossrefWorks "publishedMonth" "desc" -}}
{{- $crossrefWorks = sort $crossrefWorks "publishedYear" "desc" -}}

{{/* Output publications table. */}}
<figure>
    <table>
        <tbody>
        {{- range $crossrefWorks -}}
            {{- $title := index .title 0 -}}
            <tr id="{{ anchorize $title }}">
                <td>
                    {{- with .month -}}
                        {{- printf "%02d" . -}}/
                    {{- end -}}
                    {{- .year -}}
                </td>
                <td>
                    {{- range $coauthorIndex, $coauthor := .author -}}
                        {{- if gt $coauthorIndex 0 -}}
                            {{- ", " -}}
                        {{- end -}}
                        {{- if $author -}}
                            {{- if in $author $coauthor.family -}}
                                <u>
                            {{- end -}}
                        {{- end -}}
                        {{- $firstNames := split $coauthor.given " " -}}
                        {{- range $firstNames -}}
                            {{- substr . 0 1 -}}
                            {{- ". " -}}
                        {{- end -}}
                        {{- $coauthor.family -}}
                        {{- if $author -}}
                            {{- if in $author $coauthor.family -}}
                                </u>
                            {{- end -}}
                        {{- end -}}
                    {{- end -}}
                    <br>
                    <a href="{{ .URL }}" rel="noreferrer" target="_blank">
                        {{- $title -}}
                    </a><br>
                    <small>
                        {{- with index (index . "container-title") 0 -}}
                            {{- $container := . -}}
                            {{- $container = strings.TrimPrefix "Proceedings of the " $container -}}
                            In&nbsp;{{- $container -}}{{- ". " -}}
                        {{- end -}}
                        {{- with .event -}}
                            {{- .location -}}{{- ". " -}}
                        {{- end -}}
                        {{- .publisher -}}{{- ". " -}}
                        DOI:
                        {{- " " -}}
                        <a href="{{ .URL }}" rel="noreferrer" target="_blank">
                            {{- .DOI -}}
                        </a>
                    </small>
                </td>
            </tr>
        {{- end -}}
        </tbody>
    </table>
</figure>
