---
layout: compress
---

<!DOCTYPE html>
<html>

{% include head.html %}

{% if page.url == '/' %}
{% assign is_index = true %}
{% else %}
{% assign is_index = false %}
{% endif %}
<body class="page-{{ page.title | slugify }} {% if is_index %}page-index{% endif %}">
<script async defer src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<app-drawer-layout fullbleed responsiveWidth="1024px">

    <app-drawer swipe-open>
        <app-toolbar>
            <h1 main-title>{{ site.name }}</h1>
        </app-toolbar>
        <paper-menu>
            {% for navigation in site.data.drawer.items %}
            {% if navigation.divider %}
            <hr>
            {% else %}
            <a href="{{ navigation.link }}" tabindex="-1" {%if navigation.external %} target="_blank" {% endif %}
               title="{{ navigation.title }}">
                {% if navigation.icon %}
                <paper-icon-item>
                    <iron-icon icon="{{ navigation.icon }}" item-icon></iron-icon>
                    {{ navigation.title }}
                    <paper-ripple></paper-ripple>
                </paper-icon-item>
                {% else %}
                <paper-item>
                    {{ navigation.title }}
                    <paper-ripple></paper-ripple>
                </paper-item>
                {% endif %}
            </a>
            {% endif %}
            {% endfor %}
        </paper-menu>
    </app-drawer>

    <app-header-layout>

        <app-header fixed effects="waterfall{% if is_index %} fade-background{% endif %}">
            <app-toolbar>
                <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
                <h1 main-title>{{ site.name }}</h1>
                <div class="top-level-navigation">
                    {% for navigation in site.data.navigation.items %}
                    <a href="{{ navigation.link }}" tabindex="-1" {%if navigation.external %} target="_blank" {% endif
                       %} title="{{ navigation.title }}">
                        {% if navigation.icon %}
                        <paper-icon-button icon="{{ navigation.icon }}"></paper-icon-button>
                        {% else %}
                        <paper-button>{{ navigation.title }}</paper-button>
                        {% endif %}
                    </a>
                    {% endfor %}
                </div>
            </app-toolbar>
        </app-header>

        <div class="content">

            <main>
                {{ content }}
            </main>

            <footer>
                <section>
                    © {{ site.time | date: '%Y' }} {{ site.author.name }}. {{ site.license }} •
                    <a href="/disclaimer" title="Imprint / Disclaimer">Imprint / Disclaimer</a> •
                    <a href="/privacy" title="Privacy">Privacy</a>
                </section>
                <section>
                    Made using
                    <a href="https://www.polymer-project.org/1.0/" title="Polymer Project" target="_blank">Polymer</a>
                    and
                    <a href="https://jekyllrb.com/" title="Jekyll Static Site Generator" target="_blank">Jekyll</a>.
                    Proudly hosted by
                    <!-- TODO uncomment line when hosted on Uberspace server
                    <a href="https://uberspace.de/" title="Uberspace.de" target="_blank">Uberspace</a>
                    -->
                    <a href="https://uberspace.de/" title="Github Pages" target="_blank">GitHub</a>.
                </section>
            </footer>

        </div>

    </app-header-layout>

</app-drawer-layout>

{% if jekyll.environment == "production" %}
<script>{% include js/jquery-2.2.2.min.js %}</script>
<script>{% include js/webfontloader.min.js %}</script>
<script>{% include js/jquery.scrollto.min.js %}</script>
<script>{% include js/scripts.min.js %}</script>
<script>{% include js/prism.min.js %}</script>
{% else %}
<script async defer src="/res/js/jquery-2.2.2.min.js?v={{ asset_version }}"></script>
<script src="/res/js/webfontloader.min.js?v={{ asset_version }}"></script>
<script async defer src="/res/js/jquery.scrollto.min.js?v={{ asset_version }}"></script>
<script async defer src="/res/js/scripts.min.js?v={{ asset_version }}"></script>
<script async defer src="/res/js/prism.min.js?v={{ asset_version }}"></script>
{% endif %}

</body>

</html>
