---
layout: compress
---

<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    {% assign asset_version = 'XBrebwpyp8' %}

    <!-- Compatibility -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>
    <meta name="description" content="{{ site.description }}">

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v={{ asset_version }}">
    <link rel="icon" type="image/png" href="/favicon-32x32.png?v={{ asset_version }}" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png?v={{ asset_version }}" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-16x16.png?v={{ asset_version }}" sizes="16x16">
    <link rel="manifest" href="/manifest.json?v={{ asset_version }}">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v={{ asset_version }}" color="#dd1155">
    <link rel="shortcut icon" href="/favicon.ico?v={{ asset_version }}">
    <meta name="apple-mobile-web-app-title" content="{{ site.name }}">
    <meta name="application-name" content="{{ site.name }}">
    <meta name="msapplication-TileColor" content="#dd1155">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png?v={{ asset_version }}">
    <meta name="theme-color" content="#424242">

    <!-- Web components -->
    <script>{% include js/webcomponents-lite.min.js %}</script>
    <link rel="import" href="/bower_components/app-layout/app-layout.min.html">
    <link rel="import" href="/bower_components/app-layout/app-scroll-effects/app-scroll-effects.min.html">
    <link rel="import" href="/bower_components/iron-grid/iron-grid.min.html">
    <link rel="import" href="/bower_components/iron-icons/iron-icons.min.html">
    <link rel="import" href="/bower_components/iron-icons/hardware-icons.min.html">
    <link rel="import" href="/bower_components/material-design-icons/material-design-icons.min.html">
    <link rel="import" href="/bower_components/paper-button/paper-button.min.html">
    <link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.min.html">
    <link rel="import" href="/bower_components/paper-menu/paper-menu.min.html">
    <link rel="import" href="/bower_components/paper-item/paper-item.min.html">
    <link rel="import" href="/bower_components/paper-item/paper-icon-item.min.html">
    <link rel="import" href="/bower_components/paper-card/paper-card.min.html">
    <link rel="import" href="/bower_components/paper-material/paper-material.min.html">
    <link rel="import" href="/bower_components/prism-element/prism-highlighter.min.html">

    <!-- Styles -->
    <style>{% include css/styles.min.css %}</style>

</head>
<body class="page-{{ page.title | slugify }} {% if page.url == '/' %}page-index{% endif %}">

<app-drawer-layout fullbleed responsiveWidth="1024px">

    <app-drawer swipe-open>
        <app-toolbar>
            <h1 main-title>{{ site.name }}</h1>
        </app-toolbar>
        <paper-menu>
            {% for navigation in site.data.drawer.items %}
            {% if navigation.divider %}
            <hr>
            {% else %}
            <a href="{{ navigation.link }}" tabindex="-1" {%if navigation.external %} target="_blank" {% endif %}
               title="{{ navigation.title }}">
                {% if navigation.icon %}
                <paper-icon-item>
                    <iron-icon icon="{{ navigation.icon }}" item-icon></iron-icon>
                    {{ navigation.title }}
                    <paper-ripple></paper-ripple>
                </paper-icon-item>
                {% else %}
                <paper-item>
                    {{ navigation.title }}
                    <paper-ripple></paper-ripple>
                </paper-item>
                {% endif %}
            </a>
            {% endif %}
            {% endfor %}
        </paper-menu>
    </app-drawer>

    <app-header-layout>

        <app-header fixed effects="{% if page.url == '/' %}waterfall{% endif %} fade-background">
            <app-toolbar>
                <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
                <h1 main-title>{{ site.name }}</h1>
                <div class="top-level-navigation">
                    {% for navigation in site.data.navigation.items %}
                    <a href="{{ navigation.link }}" tabindex="-1" {%if navigation.external %} target="_blank" {% endif
                       %} title="{{ navigation.title }}">
                        {% if navigation.icon %}
                        <paper-icon-button icon="{{ navigation.icon }}"></paper-icon-button>
                        {% else %}
                        <paper-button>{{ navigation.title }}</paper-button>
                        {% endif %}
                    </a>
                    {% endfor %}
                </div>
            </app-toolbar>
        </app-header>

        <div class="content">

            <main>
                {{ content }}
            </main>

            <footer>
                <section>
                    © {{ site.time | date: '%Y' }} {{ site.author.name }}. {{ site.license }} •
                    <a href="/disclaimer" title="Imprint / Disclaimer">Imprint / Disclaimer</a> •
                    <a href="/privacy" title="Privacy">Privacy</a>
                </section>
                <section>
                    Made using
                    <a href="https://www.polymer-project.org/1.0/" title="Polymer Project" target="_blank">Polymer</a>
                    and
                    <a href="https://jekyllrb.com/" title="Jekyll Static Site Generator" target="_blank">Jekyll</a>.
                    Proudly hosted by
                    <!-- TODO uncomment line when hosted on Uberspace server
                    <a href="https://uberspace.de/" title="Uberspace.de" target="_blank">Uberspace</a>
                    -->
                    <a href="https://uberspace.de/" title="Github Pages" target="_blank">GitHub</a>.
                </section>
            </footer>

        </div>

    </app-header-layout>

</app-drawer-layout>

<script>{% include js/jquery-2.2.2.min.js %}</script>
<script>{% include js/webfontloader.min.js %}</script>
<script>{% include js/jquery.scrollto.min.js %}</script>
<script>{% include js/scripts.min.js %}</script>

</body>

</html>
