<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Compatibility -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>
    <meta name="description" content="{{ site.description }}">

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=XBrebwpyp8">
    <link rel="icon" type="image/png" href="/favicon-32x32.png?v=XBrebwpyp8" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png?v=XBrebwpyp8" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-16x16.png?v=XBrebwpyp8" sizes="16x16">
    <link rel="manifest" href="/manifest.json?v=XBrebwpyp8">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=XBrebwpyp8" color="#dd1155">
    <link rel="shortcut icon" href="/favicon.ico?v=XBrebwpyp8">
    <meta name="apple-mobile-web-app-title" content="{{ site.name }}">
    <meta name="application-name" content="{{ site.name }}">
    <meta name="msapplication-TileColor" content="#dd1155">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png?v=XBrebwpyp8">
    <meta name="theme-color" content="#424242">

    <!-- Web components -->
    <script src="/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="/bower_components/app-layout/app-layout.html">
    <link rel="import" href="/bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
    <link rel="import" href="/bower_components/iron-grid/iron-grid.html">
    <link rel="import" href="/bower_components/iron-icons/iron-icons.html">
    <link rel="import" href="/bower_components/iron-icons/hardware-icons.html">
    <link rel="import" href="/bower_components/material-design-icons/material-design-icons.html">
    <link rel="import" href="/bower_components/paper-button/paper-button.html">
    <link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="/bower_components/paper-menu/paper-menu.html">
    <link rel="import" href="/bower_components/paper-item/paper-item.html">
    <link rel="import" href="/bower_components/paper-item/paper-icon-item.html">
    <link rel="import" href="/bower_components/paper-card/paper-card.html">
    <link rel="import" href="/bower_components/paper-material/paper-material.html">
    <link rel="import" href="/bower_components/prism-element/prism-highlighter.html">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium|Roboto+Mono:400,500,700&amp;lang=en"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro:700|Arimo:400,700|Buenard:400,700|Cabin:400,500,600|Inconsolata:700|Kreon:300,400,700|Montserrat|Poppins:500,600,700|Roboto+Slab:300,400|Slabo+13px|Slabo+27px|Work+Sans:300,400,500,600,700"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kreon:300,400,700|Poppins:400,500,600,700"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="/res/css/styles.min.css">

</head>
<body class="page-{{ page.title | slugify }} {% if page.url == '/' %}page-index{% endif %}">

<app-drawer-layout fullbleed responsiveWidth="1024px">

    <app-drawer swipe-open>
        <app-toolbar>
            <h1 main-title>{{ site.name }}</h1>
        </app-toolbar>
        <paper-menu>
            {% for navigation in site.data.navigation.items %}
            <a href="{{ navigation.link }}" tabindex="-1" target="_blank" title="{{ navigation.title }}">
                {% if navigation.icon %}
                <paper-icon-item>
                    <iron-icon icon="{{ navigation.icon }}" item-icon></iron-icon>
                    {{ navigation.title }}

                    <paper-ripple></paper-ripple>
                </paper-icon-item>
                {% else %}
                <paper-item>
                    {{ navigation.title }}
                    <paper-ripple></paper-ripple>
                </paper-item>
                {% endif %}
            </a>
            {% endfor %}
        </paper-menu>
    </app-drawer>

    <app-header-layout>

        <app-header fixed effects="waterfall fade-background">
            <app-toolbar>
                <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
                <h1 main-title>{{ site.name }}</h1>
                <div class="top-level-navigation">
                    {% for navigation in site.data.navigation.items %}
                    <a href="{{ navigation.link }}" tabindex="-1" target="_blank" title="{{ navigation.title }}">
                        {% if navigation.icon %}
                        <paper-icon-button icon="{{ navigation.icon }}"></paper-icon-button>
                        {% else %}
                        <paper-button>{{ navigation.title }}</paper-button>
                        {% endif %}
                    </a>
                    {% endfor %}
                </div>
            </app-toolbar>
        </app-header>

        <div class="content">

            <main>
                {{ content }}
            </main>

            <footer>
                <section>
                    © {{ site.time | date: '%Y' }} {{ site.author.name }}. {{ site.license }} •
                    <a href="/disclaimer" title="Imprint / Disclaimer">Imprint / Disclaimer</a> •
                    <a href="/privacy" title="Privacy">Privacy</a>
                </section>
                <section>
                    Made using
                    <a href="https://www.polymer-project.org/1.0/" title="Polymer Project" target="_blank">Polymer</a>
                    and
                    <a href="https://jekyllrb.com/" title="Jekyll Static Site Generator" target="_blank">Jekyll</a>.
                    Proudly hosted by
                    <!-- TODO uncomment line when hosted on Uberspace server
                    <a href="https://uberspace.de/" title="Uberspace.de" target="_blank">Uberspace</a>
                    -->
                    <a href="https://uberspace.de/" title="Github Pages" target="_blank">GitHub</a>.
                </section>
            </footer>

        </div>

    </app-header-layout>

</app-drawer-layout>

<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script defer src="/res/js/jquery.scrollto.min.js"></script>
<script defer src="/res/js/scripts.min.js"></script>

</body>

</html>
