{{- if not . -}}
    {{ errorf "Input must be an icon name: %s" .Position }}
{{- end -}}

{{- $resourcePath := print "/node_modules/cc-icons/svg/" . ".svg" -}}
{{- $asset := resources.Get $resourcePath | resources.Minify -}}

{{- $path := "<path" -}}
{{- $pathFill := "<path fill=\"currentColor\"" -}}

{{- $svg := replace $asset.Content $path $pathFill -}}
<span class="icon-font">
    {{- safeHTML "<!-- SVG by https://github.com/cc-icons/cc-icons (CC BY 4.0) -->" -}}
    {{- safeHTML $svg -}}
</span>
{{- /* Remove trailing space. */ -}}
