{{- $username := "" -}}
{{- with .Get 0 -}}
{{- $username = . -}}
{{- else -}}
{{- with .Get "username" -}}
{{- $username = . -}}
{{- else -}}
{{- with $.Site.Params.github.username -}}
{{- $username = . -}}
{{- else -}}
{{ errorf "Missing value for param 'username': %s" .Position }}
{{- end -}}
{{- end -}}
{{- end -}}

{{- $apiUrl := "" -}}
{{- with .Get "api-url" -}}
{{- $apiUrl = . -}}
{{- else -}}
{{- with $.Site.Params.github.apiUrl -}}
{{- $apiUrl = . -}}
{{- else -}}
{{ errorf "Missing value for param 'api-url': %s" .Position }}
{{- end -}}
{{- end -}}

{{- $userData := getJSON $apiUrl "users/" $username (dict "Accept" "application/vnd.github.v3+json") -}}
{{- $orgsData := getJSON $userData.organizations_url (dict "Accept" "application/vnd.github.v3+json") -}}

{{- $orgs := 0 -}}

{{- range $orgsData -}}
{{- $orgs = add $orgs 1 -}}
{{- end -}}

{{- $orgs -}}
