{{- $username := "" -}}
{{- with .Get 0 -}}
{{- $username = . -}}
{{- else -}}
{{- with .Get "username" -}}
{{- $username = . -}}
{{- else -}}
{{- with $.Site.Params.github.username -}}
{{- $username = . -}}
{{- else -}}
{{ errorf "Missing value for param 'username': %s" .Position }}
{{- end -}}
{{- end -}}
{{- end -}}

{{- $apiUrl := "" -}}
{{- with .Get "api-url" -}}
{{- $apiUrl = . -}}
{{- else -}}
{{- with $.Site.Params.github.apiUrl -}}
{{- $apiUrl = . -}}
{{- else -}}
{{ errorf "Missing value for param 'api-url': %s" .Position }}
{{- end -}}
{{- end -}}

{{- $userData := getJSON $apiUrl "users/" $username (dict "Accept" "application/vnd.github.v3+json") -}}
{{- $ownedReposData := getJSON $userData.repos_url "?per_page=100&type=owner" (dict "Accept" "application/vnd.github.v3+json") -}}
{{- $memberReposData := getJSON $userData.repos_url "?per_page=100&type=member" (dict "Accept" "application/vnd.github.v3+json") -}}
{{- $reposData := append $ownedReposData $memberReposData -}}

{{- with (first 5 (sort $reposData "pushed_at" "desc")) -}}
<ol>
    {{- range . -}}
    <li>
        <!--suppress HtmlUnknownTarget -->
        <a href="{{ .html_url }}" rel="noreferrer" target="_blank">{{ .full_name }}</a>&emsp;<small>📅 {{ time.Format ":date_short" .pushed_at }}</small>
    </li>
    {{- end -}}
</ol>
{{- end -}}
