{{- with resources.Get "profile.jpg" -}}
    <figure class="profile">
        <a href="{{ .RelPermalink }}" title="{{ i18n "profile" }}" download="profile.jpg">
            {{- with .Fit "400x400" -}}
                <img src="{{ .RelPermalink }}" alt="{{ i18n "profile" }}">
            {{- end -}}
        </a>
    </figure>
{{- end -}}
