@import "palette";

/* Typography */
$font-body: "Kreon", "Georgia", "Times New Roman", serif;
$font-body-performance: "Georgia", "Times New Roman", serif;
$font-header: "Poppins", "Roboto", "Helvetica", "Arial", sans-serif;
$font-button: "Poppins", "Roboto", "Helvetica", "Arial", sans-serif;
$font-code: "Source Code Pro", "Inconsolata", "Consolas", "Monaco", "Andale Mono", "Ubuntu Mono", monospace;

/* Theme colors */
$color-primary: $palette-grey-900;
$color-primary-dark: $color-black;
$color-accent: #dd1155;

/* Background colors */
$background-window: #333333;
$background-drawer: #3e3e3e;
$background-footer: $background-window;

/* Text colors */
$text-color-primary-light: $color-white;
$text-color-secondary-light: rgba($color-white, 0.7);
$text-color-primary-dark: rgba($color-black, 0.87);
$text-color-secondary-dark: rgba($color-black, 0.54);

// Uncomment for light background
// $text-color-primary: $text-color-primary-dark;
// $text-color-secondary: $text-color-secondary-dark;
// $text-color-primary-inverse: $text-color-primary-light;
// $text-color-secondary-inverse: $text-color-secondary-light;

$text-color-primary: $text-color-primary-light;
$text-color-secondary: $text-color-secondary-light;
$text-color-primary-inverse: $text-color-primary-dark;
$text-color-secondary-inverse: $text-color-secondary-dark;

$text-color-link-blend: 30%;
$text-color-primary-link: mix($text-color-primary, $color-accent, $text-color-link-blend);
$text-color-secondary-link: mix($text-color-secondary, $color-accent, $text-color-link-blend);
$text-color-primary-inverse-link: mix($text-color-primary-inverse, $color-accent, $text-color-link-blend);
$text-color-secondary-inverse-link: mix($text-color-secondary-inverse, $color-accent, $text-color-link-blend);

$text-color-cover-primary: $text-color-primary-light;
$text-color-cover-secondary: $text-color-secondary-light;
$text-color-toolbar: $text-color-primary-light;
$text-color-drawer: $text-color-primary-light;
$text-color-card-primary: $text-color-primary-inverse;
$text-color-card-secondary: $text-color-secondary-inverse;
$text-color-button: $text-color-primary;
$text-color-footer: $text-color-secondary;

/* Divider colors */
$divider-color: rgba($text-color-primary, 0.12);
$divider-color-drawer: rgba($text-color-drawer, 0.12);
$divider-color-footer: rgba($text-color-footer, 0.12);